
.navbar{
  background-color: rgb(204, 238, 227);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 50px;
  
}
ul{
  display: flex;
  gap: 30px;
}
ul li{
  list-style-type: none;
}
.container{
  width: 100%;
  padding-top: 50px;
  background-color: rgb(202, 238, 227);
}
.main{
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}

.buy{
  background-color: #FF3368;
  border: none;
  margin-top: 30px;
  padding: 20px 45px ;
  margin-left: 25px;
  border-radius: 5px;
  color: white;
}
.text h1{
  font-size: 50px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.text p{
  padding-top: 20px;
  font-size: 20px;
  color: rgb(88, 85, 85);
}
section{
  margin-top: 80px;
  text-align: center;
}
.category {
  display: flex;
  justify-content: center;
 

 

}
.sofa{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
table{
  border-collapse: collapse;
}
